<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MTSInspectionsContext" connectionString="Data Source=D3VMPPWSQL003; Initial Catalog=RPA.MTSInspections; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="IDTSecurityConnection" connectionString="Data Source=D3VMPPWSQL003; Initial Catalog=Security;Integrated Security=True;Pooling=False;Trusted_Connection=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.net>
  </system.net>
</configuration>